a{
cursor: pointer;
text-decoration: none;
color: black;
}

.aside{
  width: 8.8125rem;
  position: fixed;
  top: 0;
  display: block;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 15px;
}

.rotas__link{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.rotas__item{
  width: 3rem;
  height: 3rem;
  background-color: #C4C4C4;
  border-radius: 50%;
}

.rotas{
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
  align-items: center;
  list-style: none;
}

#logo{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin: 1.875rem 0 2rem;;
}
