<aside class="aside">

  <section class="rotas">
    <a class="rotas__link">
      <div class="rotas__item" id="logo"> </div>
    </a>
    <a class="rotas__link">
      <div class="rotas__item"> </div>
      <span>Início</span>
    </a>
    <a class="rotas__link">
      <div class="rotas__item"> </div>
      <span>Mentores</span>
    </a>
    <a class="rotas__link">
      <div class="rotas__item"> </div>
      <span>Fórum</span>
    </a>
    <a class="rotas__link">
      <div class="rotas__item"> </div>
      <span>Perfil</span>
    </a>
    <a class="rotas__link">
      <div class="rotas__item"> </div>
      <span>Agenda</span>
    </a>
    <a class="rotas__link">
      <div class="rotas__item"> </div>
      <span>Sair</span>
    </a>


  </section>

</aside>
