<app-aside></app-aside>

<main class="container">
    <section class="perfil">
      <div class="name">
        <span>Nome sobrenome</span>
        <span>Função</span>
      </div>

      <ul class="stack__list">
        <li class="stack__item">Skill</li>
        <li class="stack__item">Skill</li>
        <li class="stack__item">Skill</li>
        <li class="stack__item">Skill</li>
        <li class="stack__item">Skill</li>
        <li class="stack__item">Skill</li>
      </ul>

      <div class="sobre__mim">
        <h3>Sobre mim</h3>
        <textarea name="" placeholder="Sobre sua trajetória, experiências, habilidades, interesses..." id="textarea" cols="30" rows="10"></textarea>
      </div>

      <div class="contato">
        <h3>Contato</h3>

        <div class="linkedin__email">

          <div class="linkedin">
            <img src="../../../favicon.ico" alt="">
            <a href="#">LinkedIn: https://www.linkedin.com/in/usuário</a>
          </div>
          <div class="linkedin">
            <img src="../../../favicon.ico" alt="">
            <a href="#">E-mail: xxxxxxxx@xxxx.xxx</a>
          </div>

        </div>
      </div>
    </section>

    <section class="calendar">
            
    </section>

</main>