

<main class="container">
  <app-aside></app-aside>
  <app-navbar></app-navbar>
    <div >
      <img class="image" src="{{usuario.foto}}" alt="" >

    </div>

    <section class="perfil__geral">
      <div class="perfil">
        <div class="name">
          <span>{{usuario.nome}}</span>
          <span>{{usuario.funcao}}</span>
        </div>

        <ul class="stack__list">
          <li class="stack__item">{{usuario.habilidade}}</li>

        </ul>

        <div class="sobre__mim">
          <h3>Sobre mim</h3>
          <textarea name="" placeholder="Sobre sua trajetória, experiências, habilidades, interesses..." id="textarea" cols="30" rows="10"></textarea>
        </div>

        <div class="contato">
          <h3>Contato</h3>

          <div class="linkedin__email">

            <div class="linkedin">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M26.6665 26.6667H5.33317C3.86041 26.6667 2.6665 25.4728 2.6665 24V7.884C2.72865 6.45673 3.90455 5.33198 5.33317 5.33333H26.6665C28.1393 5.33333 29.3332 6.52724 29.3332 8V24C29.3332 25.4728 28.1393 26.6667 26.6665 26.6667ZM5.33317 10.4907V24H26.6665V10.4907L15.9998 17.6L5.33317 10.4907ZM6.39984 8L15.9998 14.4L25.5998 8H6.39984Z" fill="#212121"/>
              </svg>


              <a href="#">E-mail: {{usuario.email}}</a>
            </div>
            <div class="linkedin">
              📞
              <a href="#">Telefone: {{usuario.telefone}}</a>
            </div>

            <div cla ss="postados">
              <div class="postagem__salva"  *ngFor="let item of usuario.postagens">
                <div class="user">

                  <span class="titulo">{{item.titulo}} </span>

                  <!-- <span class="data__postagem">20/05/2021</span> -->

                </div>

                <div class="postagem__salva--text" >
                  {{item.texto}}
                  <img src="" alt="{{item.foto}}" class="image">
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="calendar">

        <div class="month">
          <ul>
            <li class="prev">&#10094;</li>
            <li class="next">&#10095;</li>
            <li>
              August<br>
              <span style="font-size:18px">2021</span>
            </li>
          </ul>
        </div>

        <ul class="weekdays">
          <li>Mo</li>
          <li>Tu</li>
          <li>We</li>
          <li>Th</li>
          <li>Fr</li>
          <li>Sa</li>
          <li>Su</li>
        </ul>

        <ul class="days">
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
          <li>6</li>
          <li>7</li>
          <li>8</li>
          <li>9</li>
          <li><span class="active">10</span></li>
          <li>11</li>
          <li>12</li>
          <li>13</li>
          <li>14</li>
          <li>15</li>
          <li>16</li>
          <li>17</li>
          <li>18</li>
          <li>19</li>
          <li>20</li>
          <li>21</li>
          <li>22</li>
          <li>23</li>
          <li>24</li>
          <li>25</li>
          <li>26</li>
          <li>27</li>
          <li>28</li>
          <li>29</li>
          <li>30</li>
          <li>31</li>
        </ul>

      </div>


    </section>


</main>
