

<main class="container">
  <app-aside></app-aside>
  <app-navbar></app-navbar>
    <div >
      <img class="image" src="{{usuario.foto}}" alt="" >

    </div>

    <section class="perfil__geral">
      <div class="perfil">
        <div class="name">
          <span>{{usuario.nome}}</span>
          <span>{{usuario.funcao}}</span>
        </div>

        <ul class="stack__list">
          <li class="stack__item">{{usuario.habilidade}}</li>

        </ul>

        <div class="sobre__mim">
          <h3>Sobre mim</h3>
          <textarea name="" placeholder="Sobre sua trajetória, experiências, habilidades, interesses..." id="textarea" cols="30" rows="10"></textarea>
        </div>

        <div class="contato">
          <h3>Contato</h3>

          <div class="linkedin__email">

            <div class="linkedin">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M26.6665 26.6667H5.33317C3.86041 26.6667 2.6665 25.4728 2.6665 24V7.884C2.72865 6.45673 3.90455 5.33198 5.33317 5.33333H26.6665C28.1393 5.33333 29.3332 6.52724 29.3332 8V24C29.3332 25.4728 28.1393 26.6667 26.6665 26.6667ZM5.33317 10.4907V24H26.6665V10.4907L15.9998 17.6L5.33317 10.4907ZM6.39984 8L15.9998 14.4L25.5998 8H6.39984Z" fill="#212121"/>
              </svg>


              <a href="#">E-mail: {{usuario.email}}</a>
            </div>
            <div class="linkedin">
              📞
              <a href="#">Telefone: {{usuario.telefone}}</a>
            </div>

            <div cla ss="postados">
              <div class="postagem__salva"  *ngFor="let item of usuario.postagens">
                <div class="user">

                  <span class="titulo">{{item.titulo}} </span>

                  <!-- <span class="data__postagem">20/05/2021</span> -->

                </div>

                <div class="postagem__salva--text" >
                  {{item.texto}}
                  <img src="" alt="{{item.foto}}" class="image">
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="calendar">

        

        <div class="month">
          <h5>Calendário de mentorias</h5>
          <div class="ano__mes">
            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.70711 0.292893C8.09763 0.683418 8.09763 1.31658 7.70711 1.70711L2.41421 7L7.70711 12.2929C8.09763 12.6834 8.09763 13.3166 7.70711 13.7071C7.31658 14.0976 6.68342 14.0976 6.29289 13.7071L0.292893 7.70711C-0.0976313 7.31658 -0.0976313 6.68342 0.292893 6.29289L6.29289 0.292893C6.68342 -0.0976312 7.31658 -0.0976311 7.70711 0.292893Z" fill="#8E8E8E"/>
            </svg>
              
            <span>Abril 2022</span> 
            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.292893 13.7071C-0.0976311 13.3166 -0.0976311 12.6834 0.292893 12.2929L5.58579 7L0.292893 1.70711C-0.0976309 1.31658 -0.0976309 0.683417 0.292893 0.292893C0.683418 -0.0976315 1.31658 -0.0976315 1.70711 0.292893L7.70711 6.29289C8.09763 6.68342 8.09763 7.31658 7.70711 7.70711L1.70711 13.7071C1.31658 14.0976 0.683418 14.0976 0.292893 13.7071Z" fill="#212121"/>
            </svg>
              

            

          </div>
           
        </div>

        <ul class="weekdays">
          <li>Seg</li>
          <li>Ter</li>
          <li>Qua</li>
          <li>Qui</li>
          <li>Sex</li>
          <li>Sáb</li>
          <li>Dom</li>
        </ul>

        

        <ul class="days">
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
          <li>6</li>
          <li>7</li>
          <li>8</li>
          <li>9</li>
          <li><span class="active">10</span></li>
          <li>11</li>
          <li>12</li>
          <li>13</li>
          <li>14</li>
          <li>15</li>
          <li>16</li>
          <li>17</li>
          <li>18</li>
          <li>19</li>
          <li>20</li>
          <li>21</li>
          <li>22</li>
          <li>23</li>
          <li>24</li>
          <li>25</li>
          <li>26</li>
          <li>27</li>
          <li>28</li>
          <li>29</li>
          <li>30</li>
          <li>31</li>
        </ul>

        <div class="horarios">
          <span>Horários disponíveis</span>
          <ul class="horarios__disponiveis">
            <li class="disponivel__item" >12:00</li>
            <li class="disponivel__item">15:00</li>
            <li class="disponivel__item">08:30</li>
          </ul>
        </div>

        <div class="selecionar__mentoria">
          <button class="selecionar__mentoria--button"  *ngIf="perfil" >Selecionar</button>
        </div>

        

      </div>


    </section>


</main>


