

<main class="container">
  <app-aside></app-aside>
  <app-header></app-header>

  <div class="postagem">
    <h2 class="bem__vindo">Olá @SangueLaranja, qual sua dúvida?</h2>
    <textarea name="" placeholder="Sua dúvida pode ser a de outro @SangueLaranja!" id="textarea" cols="30" rows="10"></textarea>
  </div>
  <h3>Fórum</h3>
  <div class="postagem__salva">
    <div class="user">
      <img src="../../../favicon.ico" alt="">
      <span class="nome__user">Nome Sobrenome</span>
      <span class="data__postagem">20/05/2021</span>
    </div>



    <div class="postagem__salva--text">
      Pergunta do @sangueLaranja aqui.
    </div>
  </div>


</main>
