.header{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1366px;
  width: 100%;
  height: 7.25rem;
  position: sticky;
  left: 8.8125rem;
  top: 0;
  background-color: #F3F4F9;
}

.header>input{
  position: absolute;
  padding-left: 10px;
  font-style: italic;
}
.pesquisa
{
  width: 25.875rem;
  height: 2.75rem;
  background-color: #C4C4C4;
  border-radius: 1rem;
}

