.header{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1366px;
  height: 7.25rem;
  position: fixed;
  left: 141px;
  background-color: white;
}
.pesquisa
{
  width: 25.875rem;
  height: 2.75rem;
  background-color: #C4C4C4;
  border-radius: 1rem;
}

