  <div class="container">

    <app-aside></app-aside>
    <app-navbar></app-navbar>

    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="pill" href="#home">Agendamentos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#menu1">Histórico</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane container active" id="home">
        <div id="card">

          <div class="foto">
            <img src="../../../favicon.ico" alt="">
          </div>

          <div class="data__mentoria">
            <div class="nome__funcao">
              <span class="nome">Nome sobrenome</span>
              <span class="funcao">Função</span>
            </div>

            <div class="date__hour">
              <span class="date">Dia: xx/xx</span>
              <span class="hour">Hora: xx:xx</span>
            </div>

            <a class="status">
              Cancelar mentoria
            </a>
          </div>


        </div>
      </div>

      <div class="tab-pane container fade" id="menu1">
        <div id="card">

          <div class="foto">
            <img src="../../../favicon.ico" alt="">
          </div>


          <div class="nome__funcao">
            <span class="nome">Nome sobrenome</span>
            <span class="funcao">Função</span>
          </div>

          <div class="date__hour">
            <span class="date">Dia: xx/xx</span>
            <span class="hour">Hora: xx:xx</span>
          </div>

          <a class="status">
            Cancelar mentoria
          </a>

        </div>

        <div id="card">

          <div class="foto">
            <img src="../../../favicon.ico" alt="">
          </div>


          <div class="nome__funcao">
            <span class="nome">Nome sobrenome</span>
            <span class="funcao">Função</span>
          </div>

          <div class="date__hour">
            <span class="date">Dia: xx/xx</span>
            <span class="hour">Hora: xx:xx</span>
          </div>

          <a class="status">
            Cancelar mentoria
          </a>

        </div>
      </div>


  </div>





