<main class="tela__login">
  <div class="apresentacao__app">

      <h1 class="company__name">Technical Share</h1>

      <P class="texto__legal">
        Texto legal apresentando a plataforma :D
      </P>
      <P class="texto__legal">
        Texto legal apresentando a plataforma :D
      </P>

  </div>

  <form action="" class="form">

    <fieldset class="fildset__principal">

        <h2 class="login__titulo">Realize seu cadastro </h2>


        <label for="nome">Nome</label>
        <input type="text" name="nome" id="email" class="login__email input" placeholder="Nome completo" [(ngModel)]='usuario.nome'/>

        <label for="email">Email</label>
        <input type="email" name="email" id="email" class="login__email input" placeholder="E-mail" [(ngModel)]='usuario.email'/>

        <label for="criaSenha">Crie uma senha</label>
        <input type="password" name="criaSenha" id="senha" class="input_senha input" placeholder="Senha" />

        <label for="confirmaSenha">Confirme sua senha</label>
        <input type="password" name="confirmaSenha" id="senha" class="input_senha input" placeholder="Senha" [(ngModel)]='usuario.senha'/>

        <div class="buttons">
          <button id="enviar" class="entrar ">
            VOLTAR
          </button>

          <button id="enviar" class="entrar button" (click)='cadastrar()'>
            Cadastrar
          </button>

        </div>



    </fieldset>




    </form>

</main>


