<main class="tela__login">
  <div class="apresentacao__app">

      <h1 class="company__name">Technical Share</h1>

      <P class="texto__legal">
        Texto legal apresentando a plataforma :D
      </P>
      <P class="texto__legal">
        Texto legal apresentando a plataforma :D
      </P>

  </div>

  <form action="" class="form">

    <fieldset class="fildset__principal">

        <h2 class="login__titulo">Realize seu cadastro </h2>


        <label for="nome">Qual sua função?</label>
        <select name="nome" id="email" class="login__email input"  ></select>

        <label for="nome">Qual é o seu nível de senioridade?</label>
        <select name="nome" id="email" class="login__email input"  ></select>

        <label for="nome">Selecione suas habilidades</label>
        <select name="nome" id="email" class="login__email input"  ></select>

        <label for="nome">Selecione seus interesses</label>
        <select name="nome" id="email" class="login__email input"  ></select>

        <label for="confirmaSenha">LinkedIn (Opcional)</label>
        <input type="password" name="confirmaSenha" id="senha" class="input_senha input" placeholder="https://www.linkedin.com/in/usuário" />

        <div class="buttons">
          <button id="enviar" class="entrar " href="../lista/lista.component.html">
            VOLTAR
          </button>

          <button id="enviar" class="entrar button" href="../lista/lista.component.html">
            Finalizar cadastro
          </button>

        </div>
    </fieldset>

    </form>

</main>


