<div class="card">
  <div class="dados">
    <div class="foto">
      <img src="../../../favicon.ico" alt="">
    </div>

    <div class="nome__funcao">
      <span class="name">Nome sobrenome</span>
      <span class="funcao">Função</span>
    </div>

  </div>
  <div class="stacks">

    <ul class="stack__list">
      <li class="stack__item">Skill</li>
      <li class="stack__item">Skill</li>
      <li class="stack__item">Skill</li>
      <li class="stack__item">Skill</li>
      <li class="stack__item">Skill</li>
      <li class="stack__item">Skill</li>
    </ul>

  </div>
</div>
