<app-aside></app-aside>

<main class="container">

    <app-header></app-header>

    <h3>Mentores recomendados de acordo com o seu perfil</h3>
    <ul class="cards__list">
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      
    </ul>    
    <h3>Mentores online</h3>
    <ul class="cards__list">
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      
    </ul>
</main>