<app-aside></app-aside>

<main class="container">

    <app-header></app-header>

    <h3>UX designers</h3>
    <ul class="cards__list">
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      
    </ul>    

    <h3>Desenvolvedores Front End </h3>
    <ul class="cards__list">
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      
    </ul>

    <h3>Desenvolvedores Back End</h3>
    <ul class="cards__list">
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      
    </ul>

    <h3>Product Manager</h3>
    <ul class="cards__list">
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      
    </ul>

    <h3>Scrum master</h3>
    <ul class="cards__list">
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      <li class="card__item"> <app-cards></app-cards></li>
      
    </ul>
</main>